[submodule "Self Driving Car Engineer/CarND-LaneLines-P1"]
	path = Self Driving Car Engineer/CarND-LaneLines-P1
	url = https://github.com/SmokeShine/CarND-LaneLines-P1.git
[submodule "Data Scientist Nanodegree/disaster_response_pipeline_project"]
	path = Data Scientist Nanodegree/disaster_response_pipeline_project
	url = https://github.com/SmokeShine/disaster_response_pipeline_project.git
[submodule "docker-for-data-science-tutorial"]
	path = docker-for-data-science-tutorial
	url = https://github.com/SmokeShine/docker-for-data-science-tutorial.git
[submodule "AML Yandex/How To Win Data Science Competitions/competitive-data-science"]
	path = AML Yandex/How To Win Data Science Competitions/competitive-data-science
	url = https://github.com/SmokeShine/competitive-data-science.git
[submodule "Self Driving Car Engineer/CarND-Camera-Calibration"]
	path = Self Driving Car Engineer/CarND-Camera-Calibration
	url = https://github.com/SmokeShine/CarND-Camera-Calibration.git
[submodule "Self Driving Car Engineer/CarND-Advanced-Lane-Lines"]
	path = Self Driving Car Engineer/CarND-Advanced-Lane-Lines
	url = https://github.com/SmokeShine/CarND-Advanced-Lane-Lines.git
[submodule "Self Driving Car Engineer/CarND-Traffic-Sign-Classifier-Project"]
	path = Self Driving Car Engineer/CarND-Traffic-Sign-Classifier-Project
	url = https://github.com/SmokeShine/CarND-Traffic-Sign-Classifier-Project.git
[submodule "Self Driving Car Engineer/TensorFlow-Examples"]
	path = Self Driving Car Engineer/TensorFlow-Examples
	url = https://github.com/SmokeShine/TensorFlow-Examples.git
